@import-normalize;
/* bring in normalize.css styles */

body {
  margin: 1rem;
  padding: 1rem;
  font-family: montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  width: 100%;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;
  margin: 0;
  margin-top: 1rem;
  justify-content: flex-start
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  font-family: montserrat, sans-serif;
  padding: 1rem;
  margin: 1rem;
  width: fit-content;
  width: 13rem;
  outline: none;
  border-color: transparent;
}

button {
  cursor: pointer;
  background-color: violet;
  border-style: none;
  color: bisque;
  box-shadow: 4px 4px aquamarine;
}

button:hover {
  box-shadow: 4px 4px rgba(127, 255, 212, 0.6);
  background-color: rgba(238, 130, 238, 0.6);
}

span {
  font-weight: bold;
}